<h1 class="mt-4">Serviço prestado</h1>
<ol class="bradcrumb-bitem mb-4">
    <li class="bradcrumb-bitem active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Serviço prestado salvo com sucesso
                </div>

                <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{erro}}
                </div>

            </div>
        </div>
         <div class="row">
             <div class="col-md-12">
                 <div class="form-group">
                     <label>Cliente: </label>
                     <select class="form-control" 
                     [ngModelOptions]="{standalone: true}" 
                     [(ngModel)]="servicoPrestado.idCliente"
                     name="" id="">
                        <option value="">Selecione</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{ cliente.nome }}
                        </option>
                     </select>
                </div>
             </div>
         </div>

         <div class="row">
             <div class="col-md-12">
                 <div class="form-group">
                    <label for="">Descrição:</label>
                    <input class="form-control" 
                    [(ngModel)]="servicoPrestado.descricao" type="text" name="descricao" id="inputDescricao">
                 </div>
             </div>
         </div>

         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                   <label for="">Data:</label>
                   <input class="form-control" 
                   [(ngModel)]="servicoPrestado.data" type="text" name="data" id="inputData">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                   <label for="">Preço:</label>
                   <input class="form-control" 
                   [(ngModel)]="servicoPrestado.preco" type="text" name="preco" id="inputPreco">
                </div>
            </div>
        </div>
        
         <div class="row">
             <div class="col-md-3">
                 <button class="btn btn-success" type="submit">
                     Enviar
                 </button>

                <button routerLink="/servico-prestado"
                    class="btn btn-danger ml-1" type="button">
                        Voltar
                </button>
             </div>
         </div>
    </form>
</div>